{namespace rkwRss=RKW\RkwRss\ViewHelpers}


			<!--
				A string that uniquely identifies the item.
			-->
			<guid>
				<f:uri.page pageUid='{settings.pageUid}' absolute='1' />index.php?id={page.uid}
			</guid>

			<!--
				The URL of the item.
			-->
			<link>
				<f:uri.page absolute="TRUE" pageUid="{page.uid}" />
			</link>

			<!--
				Indicates when the item was published.
			-->
			<pubDate>
				<rkwRss:DateFormatRss dateTime="{page.pubDate}" />
			</pubDate>

			<!--
				The title of the item.
			-->
			<title>
				<f:format.cdata>
					{page.title}
				</f:format.cdata>
			</title>

			<!--
				The item synopsis.
			-->
			<description>
				<f:format.cdata>
					<f:if condition="{page.teaserImage}" >
						<f:then>
							<f:image src="{page.teaserImage.uid}" absolute="1" treatIdAsReference="1" width="200"/>
						</f:then>
					</f:if>
					<p>{page.abstract}</p>
				</f:format.cdata>
			</description>

