
<!-- etracker tracklet 4.0 -->
<script type="text/javascript">
	var et_pagename     = '<f:uri.page absolute="TRUE" pageUid="{page.uid}" />';
	var et_areas        = 'FacebookInstantArticles';
</script>
<script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.secureCode' />" src="//static.etracker.com/code/e.js"></script>
<noscript><link rel="stylesheet" media="all" href="//www.etracker.de/cnt_css.php?et=<f:cObject typoscriptObjectPath='plugin.tx_rkwetracker.lib.secureCode' />&v=4.0&java=n&et_pagename=<f:format.urlencode><f:uri.page absolute='TRUE' pageUid='{page.uid}' /></f:format.urlencode>&et_areas=<f:format.urlencode>FacebookInstantArticles</f:format.urlencode>" /></noscript>
<!-- etracker tracklet 4.0 end -->