{namespace rkwRss=RKW\RkwRss\ViewHelpers}

<f:layout name="Rss" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<channel>
		<f:render partial="Rss/Channel/Header" arguments="{_all}" />

		<f:if condition="{pages}">
			<f:for each="{pages}" as="page" iteration="iterator">
				<item>
					<f:render partial="Rss/Item/Header" arguments="{_all}" />
					<f:render partial="Rss/Item/InstantArticles" arguments="{_all}" />
				</item>
			</f:for>
		</f:if>
	</channel>
</f:section>


