{namespace rkwRss=RKW\RkwRss\ViewHelpers}

<html xmlns="http://purl.org/rss/1.0/modules/content" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

				<content:encoded>
					<f:format.cdata>

						<article>

							<f:comment>Header</f:comment>
							<f:if condition="{page.subtitle}">
								<header>
									<h2>{page.subtitle}</h2>
								</header>
							</f:if>

							<f:comment>Content</f:comment>
							<f:cObject typoscriptObjectPath="plugin.tx_rkwrss.libs.content.{type}" data="{colPos: settings.contentColPos, pid: page.uid}" />

							<f:comment>Footer</f:comment>
							<footer>
								<small>
									<f:format.html parseFuncTSPath="lib.parseFunc">
										© <f:format.date date="{currentDate}" format="Y" /> {settings.copyrightHint}
									</f:format.html>
								</small>
							</footer>
						</article>

					</f:format.cdata>
				</content:encoded>
</html>