{namespace rkwRss=RKW\RkwRss\ViewHelpers}

<html xmlns="http://purl.org/rss/1.0/modules/content" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
				<content:encoded>
					<f:format.cdata>
						<!doctype html>

						<f:comment>Set language</f:comment>
						<html lang="{feedLanguage}" prefix="op: http://media.facebook.com/op#">
						<head>

							<f:comment>Set canonical and markup version</f:comment>
							<meta charset="utf-8">
							<link rel="canonical" href="{f:uri.page(pageUid: page.uid, absolute: 1)}">
							<meta property="op:markup_version" content="v1.0">
						</head>
						<body>
						<article>

							<f:comment>Header</f:comment>
							<header>
								<h1>{page.title}</h1>
								<f:if condition="{page.subtitle}">
									<h2>{page.subtitle}</h2>
								</f:if>

								<f:if condition="{page.page.txRkwbasicsTeaserImage}" >
									<f:then>
										<figure>
											<f:image src="{page.page.txRkwbasicsTeaserImage.uid}" absolute="1" treatIdAsReference="1" />
											<figcaption>{page.title}</figcaption>
										</figure>
									</f:then>
								</f:if>
								<time class="op-published" dateTime="<rkwRss:DateFormatInstantArticles dateTime='{page.crdate}' />"><f:format.date date="{page.publicationTime}" format="d.m.y H:i" /></time>
								<time class="op-modified" dateTime="<rkwRss:DateFormatInstantArticles dateTime='{page.tstamp}' />"><f:format.date date="{page.tstamp}" format="d.m.y H:i" /></time>
							</header>

							<f:comment>Content</f:comment>
							<f:cObject typoscriptObjectPath="plugin.tx_rkwrss.libs.content.{type}" data="{colPos: settings.contentColPos, pid: page.uid}" />

							<f:comment>Footer</f:comment>
							<footer>
								<small>
									<f:format.html parseFuncTSPath="lib.parseFunc">
										© <f:format.date date="{currentDate}" format="Y" /> {settings.copyrightHint}
									</f:format.html>
								</small>
							</footer>

						</article>
						</body>
						</html>

					</f:format.cdata>

				</content:encoded>
</html>


